distribute/wsdl/WarehouseService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://server.ch9.corejava2.lixuan.com/" xmlns:tns="http://server.ch9.corejava2.lixuan.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="getPrice" type="tns:getPrice"/>

  <xs:element name="getPriceResponse" type="tns:getPriceResponse"/>

  <xs:complexType name="getPrice">
    <xs:sequence>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPriceResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

